* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f3f6;
}

header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid #dcdcdc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #111111;
    text-decoration: none;
}

.search-bar {
    width: 40%;
    display: flex;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    background-color: #f0f5ff;
    border: 1px solid #ffffff;
    font-size: 14px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #111111;
    font-weight: bold;
    font-size: 14px;
}

.sub-nav {
    background-color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.sub-nav div {
    cursor: pointer;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}


.main-container {
    width: 90%;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    color: #111111;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    display: inline-block;
    padding-bottom: 5px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    width: 250px;
    
    padding: 15px;
    border: 1px solid #f0f0f0;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.brand {
    font-size: 12px;
    color: #878787;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title {
    font-size: 14px;
    color: #111111;
    margin-bottom: 5px;
    height: 40px;
    overflow: hidden;
}

.size-info {
    font-size: 11px;
    color: #878787;
    margin-bottom: 10px;
}

.price-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-price {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.old-price {
    font-size: 13px;
    color: #878787;
    text-decoration: line-through;
}

.discount-text {
    font-size: 13px;
    color: #388e3c;
    font-weight: bold;
}

footer {
    background-color: #172337;
    color: #ffffff;
    padding: 40px;
    margin-top: 50px;
    text-align: center;
}

footer p {
    font-size: 12px;
    margin-top: 10px;
}